<div class="container-fluid body">
	<div class="row">
		<%= render 'static/sidebar' %>
		<div class="col-md-10" id="ajax-test">
			<%= render 'profile_partial' %>
		</div><!--10col-end-->

	</div><!--row container-->
</div><!--containerfluid-->
