<div class="container-fluid">
		<div class="row sign-in-bg">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-2 col-md-offset-5 sign-in-container">
						<h3>Sign In</h3>
						<form id="Sign In">
							<input type="text" name="email" value="Email" form="Sign In">
							<input type="password" name="password" value="Password" form="Sign In">
							<input type="submit" value="Log In" form="Sign In">
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row sign-in-footer-bg">
			<div class="col-md-12">
				<div class="row">
						<div class="col-md-5 col-md-offset-1">
							<span>
								This forum is only for current & past students of HFC Technology Academy. If you would like more information on the academy or to join our mailing list, please <a href="#">click here</a>
							</span>
						</div>
						<div class="col-md-2 pull-right">
							<img class= "img-responsive forum-logo-sml" src="<%= image_url 'forum_logo_sml.png' %>"/>
						</div>
				</div> <!--nested row-->
			</div>
		</div>

</div>   <!--container fluid-->
