	<div class="row directory-header">
		<h4 class=" directory-head" style="display:inline-block">Student Directory</h4>
		<div class="dropdown dropdown-directory">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			    Class No.
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#class-no-1">Class No. 1</a></li>
			  </ul>
		</div>
	</div>
<!--<div class="class-list row">-->
	<%1.times do %>
		<div class="row cohort-group">
			<div class="col-md-2 cohort-box">
				<%= image_tag'class_badge_new.png',:class=>'cohort-thumb img-responsive'%>
				<span> Class No.</span>
			</div>
			<% @students.each do |student| %>
				<div class="col-md-2 cohort-box">
					<!--img class="cohort-thumb img-responsive" src="http://placehold.it/250x250"/-->
					<%= image_tag student.avatar.url(:medium), :class=>'cohort-thumb img-responsive' %>
					<span> <%= student.full_name %></span>
				</div>
			<% end %>
		</div>
	<% end %>
<!--</div>--> 
	<div class="row footing">
			
		<div class="col-md-4 col-md-offset-1 footerleft">
			<p> 
					Happy Fun Corp Alumni Forum<br>
				<span>
					Built for the students by the students
				</span>
			</p>
		</div>
		<div class="col-md-7 footerright pull-right">
			<p>
				Happy Fun Corp All rights Reserved
			</p>
		</div>
	</div>