<div class="container-fluid " style="padding-right:0px; padding-left:0px;">
		<%= render 'static/sidebar' %>
		<div class="col-md-10 directory-page" id="ajax-test">
		<%= render 'directory_partial', locals: {student: @students} %>
		</div>
</div>
