@import 'variables';
@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.body{
	border-left:1px solid $steel-grey;
}
/*login*/
.welcome{
	text-align:center;
}
#landing-page-footer{
  z-index: 1;
  background-color: $wtf-white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow:hidden;
  .alert-icon-columns, .description-columns{
  	padding-top:20px;
}
}
#landing-page-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: image-url('fixed-bg.png');
  background-size: cover;
  background-position: bottom center;
  overflow:hidden;
  .landing-page-content-row{
  	position: absolute;
  	bottom:40%;
  	width: 100%;
  }
  .forgot{
  	height:34px;
  		img{
  			width:20px;
  		}
  }
  .log-in{
  	text-align:center;
  	.btn-secondary{
  		color:$wtf-white;
  	}
  }
}
#hfc-academy-logo {
  width: 130px;
  height: 130px;
}
#notice-icon {
  width: 56px * 0.5;
  height: 56px * 0.5;
  margin-top:20px;
}


/*feedpage*/



.sidebar-nav{
	background: $wtf-white;
	border-right: 1px solid $text-color;
	padding-right:0px;
	padding-left:0px;
	hr{
		width: 20%;
		color: $text-color;
		padding:0px;
		margin:0px 0px 0px 75px;
		align:center;
	}
}
	.forum-logo-sml{
		width: $forum-logo-sml-size;
		margin-bottom: 35px;
		margin-left:auto;
		margin-right:auto;
	}
	.sidebar_profile{
		background-image: url('nav_icon_profile.png');
		background-repeat: no-repeat;
		background-size:  $sidebar-icon-size;
		background-position: center center;
		line-height: 55px;
	&.sidenav_agg{
		background-image: url('nav_icon_profile_active.png');
		background-color: #f7f8f7;
	}
	p{
		position:relative;
		top:15px;
		font-size:10px;
		text-align:center;
		padding-top:20px;
	}
	}

	.sidebar_feed{
		background-image: url('nav_icon_feed.png');
		background-repeat:no-repeat;
		background-size: $sidebar-icon-size;
		background-position: center center;
		line-height: 55px;
	&.sidenav_agg{
		background-image: url('nav_icon_feed_active.png');
		background-color: #f7f8f7;
		}
	p{
		position:relative;
		top:15px;
		font-size:10px;
		text-align:center;
		padding-top:20px;
	}
	}
	.sidebar_students{
		background-image: url('nav_icon_students.png');
		background-repeat:no-repeat;
		background-size: $sidebar-icon-size;
		background-position: center center;
		line-height: 55px;
	&.sidenav_agg{
		background-image: url('nav_icon_students_active.png');
		background-color: #f7f8f7;
		}	
	p{
		position:relative;
		top:15px;
		font-size:10px;
		text-align:center;
		padding-top:20px;
	 }
	}
	.sidebar_signout{
		background-image: url('nav_icon_signout.png');
		background-repeat:no-repeat;
		background-size: $sidebar-icon-size;
		background-position: center center;
		line-height: 55px;
	&.sidenav_agg{
		background-image: url('nav_icon_signout_active.png');
		background-color: #f7f8f7;
		}
	p{
		position:relative;
		top:15px;	
		font-size: 10px;
		text-align:center;
		padding-top:20px;		
	 }
    }

.top-heading{
	background: $brand-primary;
	color:$wtf-white;
		p{
	font-family: $font-family-base;
	font-weight: 300;
	font-size: 18px;
	margin-left:10px;
	margin-top:10px;
	}
	span{
		background-image: image_url('drop_down.png');
		background-size: 25px;
		background-repeat:no-repeat;
		width:25px;
		text-indent:-99999px;
		margin-top:15px;
		margin-right:15px;
	
		&.active {
		background-image: image_url('close.png');
		background-size: 20px;
		background-repeat:no-repeat;
		width:25px;
		text-indent:-99999px;
		margin-top:15px;
		margin-right:15px;
		}
	}
}

.nav-heading{
	background: $brand-grey;
	color:white;
	font-family:$font-family-base;
	font-size:12px;
	font-weight:700;
	padding-top:10px;
	padding-bottom:10px;

	.posts,.job-posts{
		border-right: 1px solid $wtf-white;
	}
	.job-posts{
		border-left:1px solid $wtf-white;
	}

	.all_posts,.all_questions,.all_jobposts,.all_announcements{
		text-align: center;
		margin-top:20px;
		margin-bottom:20px;
		color:$wtf-white;
			span{
				color:white;
			}
			img{
				width:25px;
				padding-right:5px
			}
	}
}

.all_questions{
	img{
	height:28px;
	width:20px;
}
}

.dropdown{
	width:100%;
	border:none;
	color:black;
	margin-top:20px;
}
.post-category{
		text-indent:-9999px;
		height:85px;
		margin-top:30px;
		width:auto;
	&.questions-post{
background-image: url('post_icon_questions.png');
background-repeat:no-repeat;
background-size:40px;
	}
	&.jobs-post{
background-image: url('post_icon_jobs.png');
background-repeat:no-repeat;
background-size:45px;
	}
	&.announcements-post{
background-image: url('post_icon_announcement.png');
background-repeat:no-repeat;
background-size:40px;
	}
}

.post-text{
	margin-top:30px;
	.author {
		font-family: $font-family-base;
		font-size:12px;
		font-weight: 300;
	span{
		font-family: $font-family-base;
		font-size:10px;
		font-weight: 600;
		}
	}
	.text-body{
		font-family: $font-family-base;
		font-size: 12px;
		font-weight: 400;
	}
}

.like-btn{
	background-color:transparent;
	border:none;
	width:35px;
}
.like_status{
	background-image: url('like_inactive.png');
	background-repeat:no-repeat;
	height:40px;
	text-indent: -9999px;
	position:absolute;
	top:0px;
	right:10px;
	background-size:30px;
		&.active {
			background-image: url('like_active.png');
		}
}

span.glyphicon-comment{
	font-size:40px;
}

.convo-row{
	&.questions-post{
background: $questions-bg-dark;

	}
	&.jobs-post{
background: $jobs-bg-dark;
	}
	&.announcements-post{
background: $announcement-bg-dark;
	}
}

.colormatch{
	border-width: thin;
	border-radius:5px;
	color:#768994;
	text-align:left;
&.questions-post{
	background: $questions-ultralight;

	}
&.jobs-post{
	background: $jobs-ultralight;
	}
&.announcements-post{
	background: $announcement-ultralight;
	}
}

.friend-avatar{
	border-radius:100%;
	border: 1px solid $wtf-white;
	margin-top:10px;
	margin-bottom:10px;
	width:65px;
&.questions-post{
border: 1px solid $questions-primary;
}
&.jobs-post{
border: 1px solid $jobs-primary;
}
&.announcements-post{
border: 1px solid $announcement-primary;
}
}

.comments-row{
	font-family:$font-family-base;
	background:$wtf-white;
		p{
		font-family: $font-family-base;
		font-size:12px;
		span{
			font-weight: 700;
			font-size: 10px;
		}
	}
}

.submit-button{
	padding-left:5px;
}
input.post-submit{
		color:$wtf-white;
		background: $steel-grey;
		margin-top:15px;
		border-radius:15px;
		border:none;
		font-family: $font-family-base;
		font-size: 10px;
		padding: 5px 10px 5px 10px;
}
input.post-submit-post{
	color:$wtf-white;
	background: $steel-grey;
	margin-top:25px;
	margin-left: 20px;
	border-radius:15px;
	border:none;
	font-family: $font-family-base;
	font-size: 10px;
	padding: 5px 10px 5px 10px;
}

.textarea-row{
	margin-top:10px;
	margin-bottom:10px;
	border-radius:10px;

		textarea{
			background: #dce0dc;
			border:none;
			color:#4c4c4c;
		}
}

hr.feed-divider{
	color: $steel-grey;
	border: 5px solid $steel-grey;
	margin-left:-15px;
	margin-right:-15px;
	margin-top:0px;
	margin-bottom:0px;
}
.pag-row{
	background:#768994;
}
.pagination > li > a, .pagination > li > span{
	background-color:transparent;
	border:none;
	color:white

}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > li > a:hover{
	background-color:transparent;
	border:none;
	color:white;
}
.active > span, .pagination > .active > span:hover{
	background:none;
	border:none;
	color:white;
}
.pagination > .active > span{
	background:$wtf-white;
	border-radius:100%;
	color:$brand-primary;
}
.footing{
	background: $steel-grey;
	font-size:11px;
	.footerleft{
		color:$wtf-white;
		margin-left:0px;
			p{
				margin-top:15px;
			}
			span{
				font-size:8px;
			}
	}
	.footerright{
		color: #768994;
		text-align:right;
			p{
				margin-top:20px;
				font-size:8px;
			}
	}
}

//feedpost

.feed_post-post-row{
	background:$color-primary-alt;
	display:none;
}

//myprofile

.with-red-bg{
	margin-top:60px;
	margin-left:20px;
	margin-bottom:10px;
}
input#user_first_name, input#user_last_name{
	display:inline;
	font-family: $font-family-base;
	color:$wtf-white;
	font-weight: 300;
	font-size: 24px;
	margin-right:15px;
	background:$brand-primary;
	border:none;
	box-shadow: 1px 0px 2px 0px $brand-grey inset;
}

.personal-links{
	background:$brand-primary;
	.profile-pic{
		padding-left:0px;
	}
	.profile-name-edit{
		margin-top:60px;
		margin-left:20px;
		margin-bottom:10px;
		p{
			display:inline;
			font-family: $font-family-base;
			color:$wtf-white;
			font-weight: 300;
			font-size: 24px;
			margin-right:15px;

		}
	.edit-icon{
		img{
		width:20px;
		vertical-align: top;
	}
	}
}	

.link-buttons li {
	display:inline;
	img{
		margin-right: 10px;
		position:relative;
		left:8px;
		top:5px;
		width: 20px;
		}
	}
}
.about-section{
	background:$brand-grey;
	.about-me,.interests{
		font-family: $font-family-base;
		color:$wtf-white;
		font-size: 21px;
		font-weight: 300;
		margin-top:30px;
	}
	.about-me p, .interests p{
		font-size: 16px;
		margin-top: 10px;
	}
	.interests p{
		margin-bottom:50px;
	}
}

//edit

.edit-profile-head{
	background:$brand-primary;
	color:white;
	font-family: $font-family-base;
	.profile-pic{
		padding-left:0px;
	}
	.name-edit textarea{
		background:#f17a71;
		border:none;
		font-size: 16px;
		margin-top:30px;
		margin-left:30px;
		color:$wtf-white;
	}
}

.edit-profile-body{
	background: $brand-grey;
	font-family:$font-family-base;
	color:white;
	font-weight:300;
	.about-me-edit, .interests-edit{
		margin-top:10px;
		margin-bottom: 15px;
		p{
			font-size:18px;
		}
	}
	textarea{
		background: #91A1A9;
		border:none;
		font-size:12px;
		color:$wtf-white;
		border-radius:10px;
	}
	.social-list ul{
		padding-left:0px;
		list-style-type: none;
		li{
		margin-top:5px; 
	}
	}
	.submit-changes{
		margin-bottom: 30px;
		margin-top:30px;
		a{
			color:$wtf-white;
			text-decoration: underline;
		}
		button{
			color:$brand-grey;
			background:$wtf-white;
			border-radius:20px
		}
	}
}

.directory-page{
	background:$brand-grey;
}
.directory-head{
	color:$wtf-white;
	margin-left:10px;
}
.dropdown{
display:inline;
margin-left: 800px;
}
.cohort-group{
	margin-bottom:10px;
	padding-left:0px;
	padding-right:0px;
}
.cohort-box{
	padding-left:0px;
	padding-right:0px;
.cohort-thumb{
	position:relative;
	background: $brand-primary;
	margin-bottom:30px;
}
span{
	position:absolute;
	width:179px;
	bottom:0px;
	color:white;
	text-align:left;
	font-size:10px;
	line-height:30px;
	background:$brand-primary;
}
}

.profile-shadow{
	border-radius:100%;
	background:$color-primary-alt;
	width: 35px;
	height: 35px;
	display:inline-block;
	background-position-y: 40px;
}

.github .form-control {
	background-image: image_url('social_github.png');
	background-repeat:no-repeat;
	background-size:20px;
	background-position: 5px center;
	text-indent:20px;
	background-color: $steel-grey;
	border:none;
	color:$wtf-white;
}
.skype .form-control{
	background-image: image_url('social_skype.png');
	background-repeat:no-repeat;
	background-size:20px;
	background-position: 5px center;
	text-indent:20px;
	background-color: $steel-grey;
	border:none;
	color:$wtf-white;
}
.email .form-control{
	background-image: image_url('social_email.png');
	background-repeat:no-repeat;
	background-size:20px;
	background-position: 5px center;
	text-indent:20px;
	background-color: $steel-grey;
	border:none;
	color:$wtf-white;
}
.twitter .form-control{
	background-image: image_url('social_twitter.png');
	background-repeat:no-repeat;
	background-size:20px;
	background-position: 5px center;
	text-indent:20px;
	background-color: $steel-grey;
	border:none;
	color:$wtf-white;
}
.website .form-control{
	background-image: image_url('social_website.png');
	background-repeat:no-repeat;
	background-size:20px;
	background-position: 5px center;
	text-indent:20px;
	background-color: $steel-grey;
	border:none;
	color:$wtf-white;
}

.disabled{
	opacity: .5;
}

.profile-update-btn{
	border-radius:5px;
}
