@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

$font-family-sans-serif: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$brand-primary: #EF645A;
$color-primary-alt: #F28378;
$text-color: #CCCCCC;
$steel-grey: #4B5B6B;
$brand-grey: #768994;
$wtf-white: #FFFFFF;
$font-family-base: $font-family-sans-serif;
$forum-logo-sml-size: 100px;
$sidebar-icon-size: 25px;
$sidebar-bg-active: #F6F7F7;

$questions-primary: #F5AD3B;
$questions-bg-dark: #FFEAD8;
$questions-bg-light: #FFEEE0;
$questions-ultralight: #FFFBF8;

$jobs-primary: #50D494;
$jobs-bg-dark: #CFECDE;
$jobs-bg-light: #D9F0E5;
$jobs-ultralight: #EDFCF5;

$announcement-primary:#53C6F1;
$announcement-bg-dark: #CCF1FF;
$announcement-bg-light: #D6F4FF;
$announcement-ultralight: #EDFAFF;